//* Variáveis
$green-jussi : #03FFA5;
$pink-jussi : #EE0E7D;
$light-grey : #F2F2F2;
$dark-grey : #5B5B5B;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  overflow: auto;
}