.nav-bar {
  position: relative;
  width: 100vw;
  height: 80px;
  left: 0;
  top: 0;
  // background-color: #FFF;
  // background-color: red;


  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 0px;

    position: absolute;
    // width: 479px;
    width: 50%;
    height: 50px;
    margin: 15px 0px 15px 24px;
    top: 0;

    strong {
      font-family: Barlow;
      font-style: normal;
      // font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-left: 20px;
    }
  }

  .search-login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding-left: 5%;

    // background-color: red;
    position: absolute;
    width: 368px;
    // width: 30%;
    height: 50px;
    top: 0;
    // left: 70%;
    right: -1%;
    margin: 15px 0px;

    .box {
      display: flex;
      align-items: center;
      border: 1px solid #F2F2F2;
      border-radius: 24px;
      width: 240px;
      height: 40px;
      background: #FFF;
      padding-right: 2%;

      .search {
        border: none;
        width: 49px;
        height: 24px;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        padding-left: 16px;
        padding-right: 8em;


      }

      #submit {
        // display: relative;
        left: 30px;
        background-color: #FFF;
        border: none;
        text-align: center;
        // padding-left: ;

       
     }
    }

    strong {
      padding-left: 3%;
    }

    #cart {
      padding-left: 3%;
    }

  }
}

//* Cor do placeholder
::-webkit-input-placeholder  { color:#EE0E7D; font-weight: 600; }
input:-moz-placeholder { color:#EE0E7D; font-weight: 600;}
textarea:-moz-placeholder { color:#EE0E7D; font-weight: 600;}